@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primeira-cor: rgb(250, 198, 198);
    --segunda-cor: rgb(250, 198, 198);
    
    --font-size: 14px;
}


/* Login */
/* body {
    background-image: url('../img/freepik__expand__60940.png');
    background-repeat: no-repeat;
    background-color: rgb(220, 238, 236);
    mix-blend-mode: darken;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: 700px 900px;  
    
} */

.form-div-control {
    opacity: 85%;
    background-color: rgba(0, 0, 0, 0.788);
    color: rgba(255, 255, 255, 0.774);
    width: 390px;
    height: max-content;
    border-radius: 10px;
    font-size: var(--font-size);
} 

.form-div-control,
.form {
    height: 100vh;   
}

.input-square {
    border-radius: 0;
}

.form-control:focus {
    outline: none;
    box-shadow: none; 
    border-color: rgba(255, 255, 255, 0.662);
    height: none;
}

.button-entrar {
    background-color: rgba(90, 246, 252, 0.397);
    color: rgba(255, 255, 255, 0.89);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.button-entrar:hover {
    background-color: rgba(0, 67, 70, 0.562);
}

small {
    color: rgba(255, 255, 255, 0.37);
    font-weight: 100;
    font-size: 13px;
}


@media (max-width: 480px) {
    .form-div-control {
        margin: auto;
    } 

    body {
        background-image: url('../freepik__upload__60938.jpeg');
        background-repeat: no-repeat;
        mix-blend-mode: darken;
        overflow-x: hidden;
        overflow-y: hidden;
        background-position: bottom;      
    }
}


@media (max-width: 768px) {
    body {
        background-image: url('../freepik__upload__60938.jpeg');
        background-repeat: no-repeat;
        background-position: bottom;      
    }

    .a-acesso {
        color: rgb(255, 255, 255);
        display: flex;
        padding-top: 20px;
        justify-content: center;   
    }

    /* .div-linha .line,
    .p-ou {
        width: 115px;
        align-items: center;
        justify-items: center;
        color: rgba(0, 0, 0, 0.897);    
    }

    .p-ou {
        width: 25px;
        color: rgba(255, 255, 255, 0.58);
    } */
   
}
  
  /* Desktops grandes */
  @media (min-width: 1200px) {
       body {
        background-size: 900px 950px;
        background-image: url(../freepik__upload__60938.jpeg);
        background-position: left;
       }

       .form-div-control {
        margin-left: auto;
       }
}
