@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "MyriadProLight", sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'MyriadProLight';
    src: url('../fontes/MyriadPro-Light.otf') format('opentype');
    font-weight: normal;
}

body {
    height: 100vh;
    background: url('../img/img-fundo/Imagem_Página-Inicial-\ DESKTOP.jpg') center/cover no-repeat fixed;
}

/* Menu */
.nav-link {
    color: black;
}

.nav-link:hover {
    color: rgb(255, 62, 181);
}

.input-group {
    width: 220px;
}


    /* Media Querie */
@media screen and (max-width: 767px) {
    body {
        height: 100vh;
        background: url('../img/img-fundo/Imagem_Página-Inicial-\ MOBILE.jpg') center top/cover no-repeat fixed;
    }

    .navbar-nav {
        margin-top: 2rem;
    } 
    
    .navbar-nav .nav-link {
        flex-direction: row;
        margin: 0;
        padding: 0;
    
    }
    
    header {
        display: grid;
        grid-template-columns: subgrid;
        background-color: rgb(255, 255, 255);      
    }

    .container-fluid {
        display: flex;
        flex-direction: row-reverse;
    }
}



@media (min-width: 768px) and (max-width: 991px) { 
    .navbar-nav {
        margin-top: 2rem;
    } 
    
    .navbar-nav .nav-link {
        flex-direction: row;
        margin: 0;
        padding: 0;
    
    }
}


@media screen and (min-width: 992px) { 
}
