@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "MyriadProLight", sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'MyriadProLight';
    src: url('../fontes/MyriadPro-Light.otf') format('opentype');
    font-weight: normal;
}

/* Menu */
body {
    background-color: #fbfbfb;
    overflow-x: hidden;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 260px;
    z-index: 600;
    background-color: white;
}


.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}


.nav-item .fa-bell {
    font-size: 1.1rem;
    color: #00000097;
    transition: transform 0.2s ease-in-out;
}

.nav-item .fa-bell:hover  {
    transform: scale(1.2);
}

.badge-notification {
    font-size: 0.8rem;
    padding: 2px 5px;
    font-weight: bold;
}

.dropdown-menu-ul {
    width: 350px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.dropdown-menu-ul li {
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background 0.2s;
    border-radius: 8px;
}

.dropdown-menu-ul li:hover {
    background-color: #f8f8f8;
}

.dropdown-menu-ul img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.dropdown-menu-ul span {
    flex-grow: 1;
    font-size: 0.9rem;
    color: #333;
}

.dropdown-menu-ul button {
    border: none;
    padding: 5px 8px;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.dropdown-menu-ul .btn-success {
    background-color: #4caf50;
    color: white;
}

.dropdown-menu-ul .btn-danger {
    background-color: #c56159;
    color: white;
}

.dropdown-menu-ul button:hover {
    opacity: 0.8;
}


/* Perfil */
.user-profile {
    position: relative;
    background: #f8f9fa;
    border-bottom: 1px solid #ddd;
    
}

.cover-photo img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profile-photo {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-photo img {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    object-fit: cover;
}

.post-box {
    border: 3px ridge rgba(202, 202, 202, 0.107);
    background-color: rgba(176, 0, 0, 0.09);
    border-top: none;
    border-radius: 10px;
    
}

.post-header {
    display: flex;
    align-items: center;
    margin: 10px;
}

.post-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-actions i {
    cursor: pointer;
    margin-right: 10px;
}

.icon-box {
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}


label#icon-box1 {
    background-color: #ffe37e;
}

label#icon-box2 {
    background-color: #e6a2ff;
}

label#icon-box3 {
    background-color: rgb(193, 189, 255);
}


.post {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}

.post-header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.post-header div {
    color: #555;
}

.post-header strong {
    font-size: 1.2rem;
}

.post-header small {
    font-size: 0.9rem;
}

.post-content img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.post p {
    font-size: 1.1rem;
    color: #333;
}
.mt-2 {
    font-size: 0.9rem;
    color: #888;
}

.comentarios {
    margin-top: 40px;
    text-align: start;
    text-spacing-trim: space-all;
}

.comentario {
    display: flex;
    align-items: start; 
    margin-bottom: 20px;
    line-height: 1.2;
}

.comentario-foto {
    width: 25px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin: 0 10px;
}



/* Bem-estar */
#bem-estar {
    background-color: #f8f9fa;
    border-radius: 15px;
}

#bem-estar h2 {
    font-weight: bold;
    color: #333;
}

section#bem-estar {
    padding-top: 7rem;
    justify-content: center;
    align-items: center;
}



.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    height: 450px;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 200px;
}

.btn-primary {
    background-color: #ff6b6b;
    border: none;
    margin-top: auto;
    width: 150px;
  
}

.btn-primary:hover {
    background-color: #e63946;
}


@media (max-width: 767px) {
    .form-search-screen {
        width: 200px;
    }

    div.card-div-exercicio {
        margin: auto;
        width: 75%;
        margin-bottom: 2rem;
    }

    div.card .card-img-top {
        height: 250px;
    }

    section.container-section-feed {
        margin: auto;
        width: 380px;
        padding-top: 6rem;
    }
}


@media (min-width: 768px) and (max-width: 991.97px) {
    section.container-section-feed {
        padding-top: 6rem;
        display: grid;
        margin-top: 20px;
        width: 500px;
    }

    div.card-div-exercicio {
        margin: auto;
        width: 50%;
        margin-bottom: 2rem;
    }

    div.card .card-img-top {
        height: 250px;
    }
}


@media (min-width: 991.98px) and (max-width: 1300px) {
    main {
        padding-left: 240px;
    }

    button#postButton {
        margin-left: auto;
    }

      div.card-div-exercicio {
        margin: auto;
        width: 45%;
        margin-bottom: 2rem;
    }

    div.card .card-img-top {
        height: 250px;
    }

    section.container-section-feed {
        padding-top: 6rem;
        display: grid;
        margin-top: 20px;
        width: 450px;
    }
}


@media (min-width: 1301px) {
    div.card-div-exercicio {
        margin: auto;
        width: 45%;
        margin-bottom: 2rem;
    }

    div.card .card-img-top {
        height: 280px;

    }

    section.container-section-feed {
        padding-top: 6rem;
        display: grid;
        margin-top: 20px;
        width: 700px;
        
    }
}